<nav id="menu">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/home']">ANGULAR</a>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fas fa-home"></i> Home </a>
        </li> -->

        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/manageemployee']" ><i class="fa fa-circle" aria-hidden="true"></i> Thông báo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/addnotify']" ><i class="fas fa-edit"></i> Thêm mới tin tức </a> 
        </li>-->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/updatetask']"><i class="fa fa-cog fa-spin"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/managetask']"><i class="fas fa-tasks"></i> Manage Notify </a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-users"></i> Manage Profile</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="#"><i class="fas fa-eye"></i> View Profile</a>
            <a class="dropdown-item" href="#"><i class="fas fa-unlock-alt"></i> Change Password</a>
          </div>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active"><i
              class="fas fa-sign-in-alt"></i> Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/signup']"><i class="fas fa-user-plus"></i> Sign Up</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
</nav>

<!-- POPUP -->
<div class="modal" id="myModal">
  <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">
            Thông Báo
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true"> × </span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="dateOfBirth">
                Date of birth
              </label>
              <div class="input-group">
                <input id="dateOfBirth" class="form-control" placeholder="eeee-mmmm-d-y" name="dp" ngbDatepicker
                  #dp="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button">
                    ...
                  </button>
                </div>
              </div>
            </div>
            <div *ngFor="let item of task">
              <div *ngIf="task">
                <div [innerHtml]="item.content"></div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">
            Đã Xem
          </button>
        </div>
  </ng-template>
</div>
<div class="container-fluid" >
  {{todaydate | date : 'EEEE, d/M/y'}}
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<div class="container">
  <router-outlet></router-outlet>
</div>