<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        <div class="card">
          <a href="https://pixabay.com/photos/cat-animal-cat-portrait-cat-s-eyes-1045782/" target="_blank">
            <img src="https://cdn.pixabay.com/photo/2015/11/16/14/43/cat-1045782_960_720.jpg" 
            class="card-img-top" alt="Cat"></a>
          <div>
            <a href="https://pixabay.com/photos/cat-animal-cat-portrait-cat-s-eyes-1045782/" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <a href="https://pixabay.com/photos/dolphin-animal-sea-ocean-203875/" target="_blank"><img
              src="https://cdn.pixabay.com/photo/2013/11/01/11/13/dolphin-203875_960_720.jpg" 
              class="card-img-top" alt="Dolphin"></a>
          <div>
            <a href="https://pixabay.com/photos/dolphin-animal-sea-ocean-203875/" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <a href="https://pixabay.com/photos/swan-water-bird-lake-white-swan-2077219/" target="_blank"><img
              src="https://cdn.pixabay.com/photo/2017/02/18/13/55/swan-2077219_960_720.jpg" 
              class="card-img-top" alt="Thiên Nga"></a>
          <div>
            <a href="https://pixabay.com/photos/swan-water-bird-lake-white-swan-2077219/" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <a href="https://pixabay.com/photos/lion-animal-mammal-predator-mane-3576045/" target="_blank"><img
              src="https://cdn.pixabay.com/photo/2018/07/31/22/08/lion-3576045_960_720.jpg"
              class="card-img-top" alt="Thiên Nga"></a>
          <div>
            <a href="https://pixabay.com/photos/lion-animal-mammal-predator-mane-3576045/" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <a href="https://pixabay.com/photos/kingfisher-bird-close-up-perched-2046453/" target="_blank"><img
              src="https://cdn.pixabay.com/photo/2017/02/07/16/47/kingfisher-2046453_960_720.jpg" 
              class="card-img-top" alt="Thiên Nga"></a>
          <div>
            <a href="https://pixabay.com/photos/kingfisher-bird-close-up-perched-2046453/" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

